*{
	margin: 0;
	padding: 0;
	font-weight: normal !important;
	font-style: normal;
}
p,ul{
	font-size: small;
}
body{
	background: lightyellow; 
}	
.centro{text-align: center;	}
section{
	box-shadow: none;
	background: transparent;
	width: unset;
	padding: 1%;
	padding-top: 15%;
}
.btsOpcoes li{
	padding: 6%;
	margin: 1%;
	text-align: -webkit-center;
}
.btsOpcoes{
	display: none; 
	width: 30%;
	border: none;
	top: 8%;
	right: 1%;
	list-style-type: none;
	background: white;
	position: absolute;
	border-radius: 1px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
}
.linha{
	text-align: justify;
	background: white;
	padding: 15px;
	border-radius: 5px;
	max-width: -webkit-fill-available;
	width: 90%;
	margin: auto;
	margin-top: 2%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
	background: khaki;
}
.btsOpcoes li:hover{
	background: khaki; 
	color:#fff; 
	-webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; 
}
.btAdd{
	right: 5%;
	font-size: 2.5rem;
	bottom: 5%;
	position: fixed;
	border-radius: 50%;
	background: orange;
	width: 45px;
	padding: 1%;
	text-align: center;
	-webkit-box-shadow: 0 3px 10px 0 #ccc;
	text-shadow: 0px 0px 5px #fff;
	color: white;

}

.btn{
	right: 5%;
	font-size: 2.5rem;
	bottom: 5%;
	position: absolute;
	border-radius: 50%;
	background: orange;
	width: 45px;
	padding: 1%;
	text-align: center;
	-webkit-box-shadow: 0 3px 10px 0 #ccc;
	text-shadow: 0px 0px 5px #fff;
	color: white;
}

.textonaoselecionavel,span{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

nav{
	position: fixed;
	width: -webkit-fill-available;
	height: auto;
	font-size: 20;
	border-radius: unset;
	border-top: none; 
	margin-bottom: 3%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
	margin: 0;
	margin-bottom: 1%;			
	text-align: right !important;
}
header,nav{
	text-align: left;
	background-color: orange;
	padding: 1.5%;
	font-weight: bold !important;
	color: white;			
}
span{
	float: right;
}
@media only screen and (min-width: 700px) {			
	p{
		font-size: unset;
	}
	header{
		padding: 0;
	}
	.linha{
		margin-top: 1%;
	}
	section{
	padding-top: 7%;
	}
}